<section class="sidebar">

    <div class="user-panel">
        <div class="col-md-12 image">
            <img src="{{ asset('assets/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image" />
        </div>

        <div style="clear:both"></div>

        <div class="col-md-12 info">
            <p>
                {{ app.getUser.email }}
            </p>

            <p>
                Período atual: {{ "now"|date('m/Y') }}
            </p>
        </div>
    </div>

    {% include 'ThemeBundle::Base/nav.html.twig' %}
</section>
