<section class="sidebar">

    <div class="user-panel">
        <div class="col-md-12 image">
            <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
        </div>

        <div style="clear:both"></div>

        <div class="col-md-12 info">
            <p>
                {{ app.getUser.email }}
            </p>

            <p>
                Período atual: {{ "now"|date('m/Y') }}
            </p>
        </div>
    </div>

    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>

    {% include 'ThemeBundle::Base/nav.html.twig' %}
</section>
