<ul class="sidebar-menu">
    <li class="header">MENU</li>
    <li class="active treeview">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Bancos</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('bank_new') }}"><i class="fa fa-circle-o"></i> Cadastrar</a></li>
            <li><a href="{{ path('bank') }}"><i class="fa fa-circle-o"></i> Listar</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Cartões</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('card_new') }}"><i class="fa fa-circle-o"></i> Cadastrar</a></li>
            <li><a href="{{ path('card') }}"><i class="fa fa-circle-o"></i> Listar</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Contas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> à pagar</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> à receber</a></li>
        </ul>
    </li>
    <li class="header">RELATÓRIOS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Contas à pagar</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Contas à receber</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Geral</span></a></li>
</ul>
