{% extends 'Base/base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
        Bancos
        <small>listagem dos bancos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Bancos</a></li>
        <li class="active">Listagem</li>
    </ol>
</section>

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Bancos</h3>
            <div class="box-tools pull-right">
                <button title="Collapse" data-toggle="tooltip" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                <button title="Remove" data-toggle="tooltip" data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">

            {% if entities is defined and entities is not empty %}

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Status</th>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Conta</th>
                        <th colspan="2">Ações</th>
                    </tr>
                    {% for entity in entities %}
                    <tr>
                        <td>1.</td>
                        <td>
                            {% if entity.status == 1 %}
                            <span class="badge bg-green">Ativo</span>
                            {% else %}
                            <span class="badge bg-red">Inativo</span>
                            {% endif %}
                        </td>
                        <td>{{ entity.bank.name }}</td>
                        <td>{{ entity.agencyNumber }}</td>
                        <td>{{ entity.accountNumber }}</td>
                        <td>
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="#" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p>Nenhum registro encontrado.</p>
            {% endif %}

        </div>
    </div>

</section>
{% endblock %}
