Options FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)/?$ app_dev.php [L]
RewriteRule !\.(woff2|eot|svg|ttf|woff|js|ico|gif|jpg|png|css|swf|php|htc)$ app_dev.php
</IfModule>
